COMPOSE_PROJECT_NAME=sitecore-demo-utility
PROJECT_VERSION=0.3.0

# Playwright settings
PLAYWRIGHT_IMAGE=mcr.microsoft.com/playwright:v1.38.1-jammy

PAGE_WIDTH=1280
PAGE_HEIGHT=800
PAGE_WAIT_TIME=2000

PORT=3000

# thumbnail Settings
NODEJS_PARENT_IMAGE=node:20-bullseye

NEXT_PUBLIC_SEARCH_ENDPOINT=
NEXT_PUBLIC_SEARCH_SOURCE_ID=
NEXT_PUBLIC_SEARCH_LOCALE=en-us
NEXT_PUBLIC_SEARCH_BATCH_SIZE=30

NEXT_PUBLIC_PLAYWRIGHT=http://playwright:3000

AZURE_STORAGE_ACCOUNT=
AZURE_STORAGE_ACCESS_KEY=
AZURE_STORAGE_CONTAINER=screenshots